<h1>Local giphy</h1>
<link rel="stylesheet" href="/index.css">
<a  href="/overview">home</a>
<div class="container2">
<% data.forEach( gif => { %>
    <a href="#<%=gif.title%>">
<figure>
    <img src="<%= gif.images.downsized.url%>" alt="<%=gif.title%>">
    <h1><%=gif.title%></h1>
</figure>
    </a>
<% }) %>
</div>
